#blogContainer {
    display: flex;
    height: 100%;
    width: 10%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blogPost {
    display: flex;
    height: 250px;
    width: 400px;
    margin: 30px;
    border-radius: 10%;
    background-color: gainsboro;
}