#blogContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.blogPost {
    display: flex;
    height: 250px;
    width: 400px;
    margin: 20px;
    border-radius: 10%;
    background-color: gainsboro;
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}