#contactContainer {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.box {
    height: 22vh;
    width: 40%;
    margin-top: 2vh;
    margin-bottom: 7vh;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
    border-radius: 20px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
    color: black;
}

.box:hover {
    transform: scale(1.2);
}

.logo {
    display: flex;
    height: 40%;
    width: auto;
    margin: 0;
    padding: 0;
    transition: 1s;
    color: black;
}

.logo:hover {
    transform: scale(1.5);
}

.text {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    color: black;
    transition: 1s;
}

.text:hover {
    transform: scale(1.2);
}